.usersBlock{
    text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
}
/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 20%;
  }
}
