

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* mobile styles */
.postsBlock {
  margin-top: 30px;
}
.postsBlock h3 {
  text-align: center;
}
.formBlock {
  width: 80%;
  margin: 0 10%;
}
.btnAddPostBlock .btnAddPost {
  margin-top: 10px;
  margin-top: 10px;
  background-color: #313131;
  font-size: 0.8em;
  padding: 2px;
  width: 85px;
  color: #f0f8ff;
  cursor: pointer;
}
.btnAddPostBlock {
  text-align: center;
}
.posts {
  max-width: 76%;
  margin: 10px 12%;
}
.posts > div {
  margin-bottom: 10px;
}
.btnDeletePost {
  border: 0;
  width: 12px;
  cursor: pointer;
  margin-top: 20px;
  padding: 0;
}
.btnDeletePostBlock {
  text-align: right;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .formBlock {
    width: 60%;
    margin: 0 20%;
  }
  .btnAddPostBlock .btnAddPost {
    font-size: 0.9em;
    margin-top: 15px;
    padding: 3px;
    width: 100px;
  }
}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
  .postsBlock h3 {
    font-size: 1.3em;
  }
  .formBlock {
    width: 50%;
    margin: 0 25%;
  }
  .btnAddPostBlock .btnAddPost {
    margin-top: 20px;
    font-size: 1em;
    padding: 4px;
    width: 120px;
  }

}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
  .posts {
    max-width: 40%;
    margin: 10px 30%;
  }
}
