
/* User information setion */


.profileInfoBlock{
  margin: 0 auto;
  width: 380px
}
.profileInfoBlock>div{
  padding-bottom: 10px;
}
.profileInfoBlock .contactsBlock {
  padding-left: 10px;
}
.buttonSave {
  text-align: center;
}
.buttonSave button{
  background-color: rgb(49, 49, 49);
  font-size: 15px;
  padding: 3px;
  width: 100px;
  color: aliceblue;
  cursor: pointer;

}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
  
  .buttonSave button {
    font-size: 1em;
    padding: 4px;
    width: 120px;
  }
}
