.header {
  grid-area: h;
  background-color: rgb(244, 244, 244);
  text-align: center;
  font-style: italic;
  font-weight: bold;
padding: 10%;
text-decoration: none;

}
.header a{
  text-decoration: none;
  color: black;

}
.logoImg {
  width: 85%;
}
