

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* mobile styles  */
.header {
  margin: 10px;
}
.header a {
  display: flex;
}
.header p {
  align-self: center;
  padding-left: 10px;
  color: #000;
  font-weight: 700;
}
.logoSVG {
  color: black;

  width: 60px;
  height: 60px;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .logoSVG{
    width: 80px;
    height: 80px;
  }
}


/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
  .logoSVG{
    width: 120px;
    height: 120px;
  }
  .header p {
    font-size: 1.4em;
  }

}
