/* .nav {
  grid-area: n;
  background-color: rgb(128, 128, 128);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 142px;
}
.nav a {
  text-decoration: none;
  color: white;
}
.nav a.activeLink .item {
  background-color: rgb(15, 193, 158);
}
.item {
  padding: 10% 0 15%;
  text-align: center;
  height: 100%;
  width: 270px;
  border: 2px solid rgba(90, 90, 90, 0.12);
  background-color: rgb(84, 86, 84);
  transition:  all 0.3s linear;
}

.iconSvg {
  height: 30px;
  width: 30px;
}
p {
  margin:0;
  
} */

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* mobile styles  */
.nav {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-sizing: border-box;
}
.header {
  grid-column: 1/5;
  grid-row: 1;
}
.loginInfo {
  grid-column: 5/9;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
}
.navItem {
  grid-column: span 8;
  display: flex;
  background-color: #808080;
}
.navItem p {
  display: none;
}
.navItem a {
  align-self: center;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  margin-left: 20px;
  background-color: rgb(84, 86, 84);
}
.iconSvg {
  height: 25px;
  width: 30px;
  color: white;
}
.nav a.activeLink {
  background-color: rgb(15, 193, 158);
  transition: all 0.3s linear;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .iconSvg {
    height: 30px;
    width: 30px;
  }
}
/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
  .navItem p {
    font-size: 1.2em;
    display: block;
    color: #fff;
  }
}
