
.discriptionBlock {
  padding: 5px;
}
.aboutInfo {
  padding: 10px;

}
.fullName {
  color: black;
  font-weight: bold;
}
.avatar {
  max-width: 300px;
}

.profileBlock {
  text-align: center;
}
.profileContactsBlock {

}