.formControl .error{
  border: solid red 2px
}
.formControl span{
  color:red;
}
.formSummaryError {
  color: red;
  border: solid red 2px
}
.formControl  {
  background: #2c3338;
  color: #606468;

  margin: 0;

}
