.formControl .error {
  display: block;
  position: relative;
  font-size: 16px;
  height: auto;
  width: 100%;
  padding: 4px;
}
.formControl span {
  color: red;
}
.formSummaryError {
  color: red;
  padding: 5px;
}
.formControl {
  color: #646464;
  padding-left: 10px;
  margin: 0;
}
.formControlInput {
  position: relative;
  width: 100%;
  font-size: 16px;
  height: auto;
  padding: 4px;
}
.formControlInput[type="checkbox"] {
  width: auto;
}
.formControl textarea {
  color: rgb(38, 38, 38);
  width: 100%;
  height: auto;
  font-size: 16px;
  padding: 5px;
}
