/* .app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h  n"
    "content content";
  grid-template-rows: 150px;
  grid-template-columns: 2fr 10fr;

}
.app-wrapper-content {
  background-color: rgb(234,234,234);
  grid-area: content;
  min-height: 600px;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;

}
.sideBar {
  background-color: rgb(234,234,234);
}

 */
 body {
   background: url(./assets/images/background.jpg);
 }
