.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h  n"
    "content content";
  grid-template-rows: 150px 100%;
  grid-template-columns: 2fr 10fr;

}
.app-wrapper-content {
  background-color: rgb(244,244,244);
  grid-area: content;
  height: 100%;
}

